.form-Todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form-Todo input, .form-Todo button {
  margin-bottom: 8px;
  width: 100%;
}
.form-Todo button {
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
  background: none;
  border: none;
  background-color: #9037e4;
  color: #e0e0e0;
  transition: all 200ms ease-in-out;
  border-radius: 4px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.form-Todo button:hover {
  background-color: #999;
  color: #eee;
}